.list-group.list-characters {
  border: none;
  box-shadow: none;
}
.list-characters .row.header {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.list-characters .row.character {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.list-characters .row > div {
  padding: 10px;
}

.card {
  width: 261px;
  height: 380px;
  border-radius: 35px;
  background-image: url(/modules/characters/client/img/card_background.jpg);
  background-size: cover;
}

.card .card-top, .card .card-bottom {
  height: 50%;
  width: 100%;
}

.card .character-name {
  text-align: center;
  font-size: 18px;
  padding-top: 3px;
  line-height: 25px;
  min-height: 25px;
}

.card .card-top .stat-figure {
  font-size: 70px;
  text-align: center;
  margin-top: 35px;
  min-height: 70px;
}

.card .card-bottom .stat-figure {
  font-size: 70px;
  text-align: center;
  padding-top: 15px;
}

.card .character-clan {
  text-align: center;
  font-size: 18px;
  padding-top: 45px;
  line-height: 25px;
}
