.list-group.list-characters {
  border: none;
  box-shadow: none;
}
.list-characters .row.header {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.list-characters .row.character {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.list-characters .row > div {
  padding: 10px;
}

