<section>
  <div class="page-header">
    <h1 ng-bind="vm.character.name"></h1>
  </div>
  <div class="pull-right"><!--ng-show="vm.character.isCurrentUserOwner"-->
    <a class="btn btn-primary"
       ui-sref="characters.edit({ characterId: vm.character._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Создан
      <span ng-bind="vm.character.created | date:'mediumDate'"></span>
      пользователем
      <span ng-if="vm.character.user"
            ng-bind="vm.character.user.displayName"></span>
      <span ng-if="!vm.character.user">Deleted User</span>
    </em>
  </small>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-3"><strong>Имя</strong></div>
        <div class="col-md-6" ng-bind="vm.character.name"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Электронный адрес</strong></div>
        <div class="col-md-6" ng-bind="vm.character.email"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Клан</strong></div>
        <div class="col-md-6" ng-bind="vm.character.clan"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Ключевой навык</strong></div>
        <div class="col-md-6" ng-bind="vm.character.keyAbility"></div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-3"><strong>Поколение</strong></div>
        <div class="col-md-6" ng-bind="vm.character.generation"></div>
      </div>
      <hr/>
    </div>

    <div class="col-md-4" ng-include="'modules/characters/client/views/character-battle-card.html'">
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <button class="btn btn-default" ng-click="calculateCards(vm)">{{vm.character.cards.length ? 'Перерасчитать карты' : 'Рассчитать карты'}}</button>
    <div>
  </div>
  <div class="row">
    <div class="col-md-2 character-card-preview" ng-repeat="card in vm.character.cards" ng-include="'modules/characters/client/views/character-battle-card.html'">
    </div>
  </div>
</section>
